<!-- app/views/main.html -->
<div id="content" ng-controller='GameController as ctrl'>
    <div id="heading" class="row">
        <h1 class="title">ng-1984</h1>
    </div>

    <div class="row" shig-webgl></div>
</div>
